<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>LOOTOPIA - Boutique</title>
  {{ style('style') }}
</head>
<body>
  <nav>
    <div class="nav-left">
      <ul class="nav-list">
       <li class="pointer" onclick="location.href = '/player'">Joueur</li>
            <li class="pointer" onclick="location.href = '/organisator'">Organisateur</li>
            <li class="pointer" onclick="location.href = '/recompenses'">Récompenses disponibles</li>
            <li class="pointer" onclick="location.href = '/marketplace'">Marketplace</li>
            <li class="pointer" onclick="location.href = '/shop'">Boutique</li>
      </ul>
    </div>
    <div class="nav-right" id="user-info">
  </div>
  </nav>
  <section class="scroll_y_auto">
    <img src="/lootopia.webp" width="170" height="170" alt="LOOTOPIA" /><br />
    <h1>Boutique</h1><br />
    <div id="moneys">

    </div>
  </section>
  <footer>
    <div class="nav-right">
      <ul class="nav-list">
        <li>© 2025 Ashley RAKOTOARISOA<br />Projet réalisé dans le cadre de Sup de Vinci</li>
      </ul>
  </div>
</footer>
<script type="module">
  import Cookie from 'https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.mjs'
      const username = Cookie.get('username')
      let userInfo = document.getElementById('user-info')

      var moneys = document.getElementById("moneys")

      chargement()

      async function chargement(){
        const repon = await fetch("http://127.0.0.1:3334/data/postgresql/compte")
        const r = await repon.json()
        const inr = r.findIndex(obj => obj.login == username)
        const compteId = r[inr].id
        const response = await fetch("http://127.0.0.1:3334/data/mongodb/monnaie")
        const res = await response.json()
        for (let i = 0 ;i < res.length ; i++) {
              const div = document.createElement('div')

              div.innerHTML = "<div style='margin: 20px 0; display: flex; align-items: center; gap: 10px;'><img src='/recompense/Monnaie virtuelle/"+res[i].nom+".webp' height='150' width='150' /><div style='display: flex; flex-direction: column; gap: 5px;'><span style='font-size: 24px;'>"+res[i].nom+"</span><span><b>Montant à l'unité : </b>"+res[i].montant+" €</span>"
                if (username){
                  div.innerHTML +="<input type='number' min='1' id='eff"+i+"' value='1' /><button id='b"+i+"'>Acheter</button>"
                }
                div.innerHTML +="<br /><div class='no_display' id='dc"+i+"'><input type='text' placeholder='16 chiffres' id='16_"+i+"' /><input type='month' placeholder='Fin de validité (MM/AA)' id='fin_"+i+"' /><input type='text' placeholder='3 chiffres au dos' id='3_"+i+"' /><button id='v"+i+"'>Payer</button><button id='a"+i+"'>Annuler</button></div></div>"

              moneys.appendChild(div)
              moneys.appendChild(document.createElement('hr'));


              document.getElementById("b"+i).addEventListener("click",async (e) =>  {
                if (document.getElementById("eff"+i).value != null && document.getElementById("eff"+i).value >= document.getElementById("eff"+i).min){
                  document.getElementById("dc"+i).style.display = "block"
                  document.getElementById("eff"+i).disabled = true
                  document.getElementById("16_"+i).value = ""
                  document.getElementById("3_"+i).value = ""
                  document.getElementById("fin_"+i).value = ""
                  document.getElementById("v"+i).innerHTML = "Payer "+(document.getElementById("eff"+i).value * res[i].montant)+"€"
                } else {
                  alert("Malheureusement, tu ne peux pas payer la monnaie "+res[i].nom+" car l'effectif' saisi est inférieur à 1 ou est vide")
                }
              })
              document.getElementById("a"+i).addEventListener("click",async (e) =>  {
                document.getElementById("dc"+i).style.display = "none"
                document.getElementById("eff"+i).disabled = false
              })
              document.getElementById("v"+i).addEventListener("click",async (e) =>  {
                if (document.getElementById("16_"+i).value == "" || document.getElementById("3_"+i).value == "" || document.getElementById("fin_"+i).value == ""){
                  alert("Tous les champs sont obligatoires")
                } else if (document.getElementById("16_"+i).value.length != 16){
                  alert("Ton code doit comporter 16 chiffres (tu as saisi "+document.getElementById("16_"+i).value.length+" chiffres)")
                } else if (document.getElementById("3_"+i).value.length != 3){
                  alert("Ton code doit comporter 3 chiffres (tu as saisi "+document.getElementById("3_"+i).value.length+" chiffres)")
                } else {
                  var con = confirm("Es-tu sur de vouloir payer "+document.getElementById("eff"+i).value+" "+res[i].nom.toLowerCase()+"(s) (soit le prix total de "+(document.getElementById("eff"+i).value * res[i].montant)+" € ?")
                  if (con){
                    try {
                      const responseP = await fetch("http://127.0.0.1:3334/shop/pay/"+compteId
                        , {
                          method: "PUT",
                          headers: { "Content-Type": "application/json" },
                          body: JSON.stringify({ monnaie : res[i].nom,effectif:document.getElementById("eff"+i).value,code16:document.getElementById("16_"+i).value,code3:document.getElementById("3_"+i).value,datefin:document.getElementById("fin_"+i).value.toString()})
                        }
                      )
                      const rp = await responseP.json()
                      if (rp.success){
                        alert("Paiement effectué avec succès")
                        location.reload()
                      } else {
                        alert(rp.message)
                      }
                    }catch (error){
                      alert("Echec de paiement : "+error)
                    }
                  }
                }
              })
          }
      }

    if(username){
        userInfo.innerHTML = "<img src='/account.webp' class='pointer' alt='Profil' width='30' height='30' /><span>"+username+"</span><button onclick='deconnecter()' class='buttond'>Déconnexion</button>"
      } else {
        userInfo.innerHTML = "<img src='/account.webp' class='pointer' onclick='location.href = "+'"/login"'+"' alt='Profil' width='30' height='30'/><span>Se connecter</span>"
      }

       window.deconnecter = function() {
        var con = confirm("Are you sure ?")
        if (con){
          Cookie.remove("username")
          location.reload()
        }
      }
  </script>
</body>
</html>
