<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>LOOTOPIA - Home</title>
  {{ style('style') }}
</head>
<body>
    <nav>
        <div class="nav-left">
          <ul class="nav-list">
            <li class="pointer" onclick="location.href = '/home'">Accueil</li>
            <li class="pointer" onclick="location.href = '/player'">Joueur</li>
            <li class="pointer" onclick="location.href = '/organisator'">Organisateur</li>
            <li class="pointer" onclick="location.href = '/recompenses'">Récompenses disponibles</li>
            <li class="pointer" onclick="location.href = '/marketplace'">Marketplace</li>
            <li class="pointer" onclick="location.href = '/shop'">Boutique</li>
          </ul>
        </div>
        <div id="user-info" class="nav-right">
          
      </div>
    </nav>
    <section class="scroll_y_auto">
      <div>
          <img src="/lootopia.webp" width="170" height="170" alt="LOOTOPIA" />
      </div>
      <h1>Dashboard</h1>
      <table>
        <tbody>
          <tr><th>Dernière chasse créée :</th><td id="derc"></td><td><button class="littlebutton">Voir tous les chasses</button></td></tr>
          <tr><th>Dernière article achetée :</th><td id="deraa"></td></tr>
          <tr><th>Dernière article vendue :</th><td id="derav"></td></tr>
        </tbody>
      </table>
      <div class="float_div width_1_sur_2 no_display float_right scroll_y_auto_0" id="confirm_deconnect">
        <table>
          <tbody>
            <tr><td colspan="2">Veux-tu vraiment te déconnecter ?</td></tr>
            <tr>
              <td><button class="littlebutton" onclick="deconnecter()">Oui</button></td>
              <td><button class="littlebutton" onclick="fermer('confirm_deconnect')">Non</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="float_div width_1_sur_2 no_display float_right scroll_y_auto_0" id="info_account">
        <table>
          <tbody>
            <tr><th colspan="2">Informations</th></tr>
            <tr><th>Nickname :</th><td id='nickname'></td></tr>
            <tr><th>Login :</th><td id='login'></td></tr>
            <tr><th>Password :</th><td id='password'></td></tr>
            <tr><th>Telephone Number :</th><td id='password'></td></tr>
            <tr>
              <td><button class="littlebutton" onclick="location.href = 'account/modify'">Modifier</button></td>
              <td><button class="littlebutton" onclick="fermer('info_account')">Fermer</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <footer>
      <div class="nav-right">
        <ul class="nav-list">
          <li>© 2025 Ashley RAKOTOARISOA<br />Projet réalisé dans le cadre de Sup de Vinci</li>
        </ul>
    </div>
  </footer>
    <script type="module">
      import Cookie from 'https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.mjs'
      const username = Cookie.get('username')
      let userInfo = document.getElementById('user-info')

      console.log(username)
      var divs = ['confirm_deconnect',"info_account"]

      async function chargement() {
        const resp = await fetch("http://127.0.0.1:3334/data/postgresql/chasse")
            const resu = await resp.json()
        const resa = await fetch("http://127.0.0.1:3334/data/postgresql/article")
        const resua = await resa.json()
        const resav = await fetch("http://127.0.1:3334/data/postgresql/article_achete")
        const resuav = await resav.json()
        document.getElementById("derc").innerHTML = resu[resu.length - 1].titre + " (" + resu[resu.length - 1].datecreation.substring(0,10) + ")"
        document.getElementById("deraa").innerHTML = resua[resua.length - 1].nom
        document.getElementById("derav").innerHTML = resuav[resuav.length - 1].article.nom + " (" + resuav[resuav.length - 1].date_achat.substring(0,10) + " - "+resuav[resuav.length - 1].heure_achat.substring(0,8)+")"
      }

      chargement()

      if(username){
        userInfo.innerHTML = "<img src='/account.webp' onclick='ouvrir("+'"info_account"'+")' class='pointer' alt='Profil' width='30' height='30' /><span>"+username+'</span><button onclick="ouvrir('+"'confirm_deconnect'"+')" class="buttond">Déconnexion</button>'
      } else {
        userInfo.innerHTML = "<img src='/account.webp' class='pointer' onclick='location.href = "+'"/login"'+"' alt='Profil' width='30' height='30'/><span>Se connecter</span>"
      }

      window.ouvrir = async function(div){
        document.getElementById(div).style.display = "block"
        document.getElementById(div).scrollTop = 0
        for (let i = 0 ; i < divs.length ; i++){
          if (divs[i] != div){
            fermer(divs[i])
          }
          if (div == "info_account"){
            const resp = await fetch("http://127.0.0.1:3334/data/postgresql/compte")
            const resu = await resp.json()
            const inu = resu.findIndex(obj => obj.login == username)
            document.getElementById("nickname").innerHTML = resu[inu].nickname
            document.getElementById("login").innerHTML = resu[inu].login
            document.getElementById("tel").innerHTML = resu[inu].tel
            let p = ""
            for (let i = 0 ; i < resu[inu].password.length ; i++){
              p += "*"
            }
            document.getElementById("password").innerHTML = p
          }
        }
      }

      window.fermer = function(div){
        document.getElementById(div).style.display = "none"
      }

      window.deconnecter = function() {
          Cookie.remove("username")
          location.reload()
      }

    </script>
</body>
</html>
