<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>LOOTOPIA - Login</title>
  {{ style('style') }}
</head>
<body>
    <nav>
        <ul class="nav-list">
          <li>Joueur</li>
          <li>Organisateur</li>
        </ul>
      </nav>
    <div>
        <img src="/lootopia.webp" width="170" height="170" alt="LOOTOPIA" />
        <h1>Login : </h1>
        <table>
            <tbody>
                <tr><th>Email :</th><td><input type="text" placeholder="Email" id="mel" /></tr>
                <tr><th>Password :</th><td><input type="password" placeholder="Password" id="pwd"/><button onclick="showPwd()">Display password</button></td></tr>
                <tr><td><button class="bigbutton">Login</button></td><td><button class="bigbutton" onclick="location.href = '/signup'">Sign up</button></td></tr>
                <tr><td colSpan="2"><button style="width:51rem;" class="bigbutton" onclick="location.href = '/home'">Return to home</button></td></tr>
            </tbody>
        </table>
    </div>
    <script>
        function showPwd() {
            const mdp = document.getElementById("pwd");
            mdp.type = mdp.type == "password" ? "text" : "password";
        }
    </script>
</body>
</html>
