<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>LOOTOPIA - Organisateur</title>
  {{ style('style') }}
</head>
<body>
    <nav>
        <div class="nav-left">
          <ul class="nav-list">
            <li class="pointer" onclick="location.href = '/player'">Joueur</li>
            <li class="pointer" onclick="location.href = '/organisator'">Organisateur</li>
            <li class="pointer" onclick="location.href = '/recompenses'">Récompenses disponibles</li>
            <li class="pointer" onclick="location.href = '/marketplace'">Marketplace</li>
            <li class="pointer" onclick="location.href = '/shop'">Boutique</li>
          </ul>
        </div>
        <div class="nav-right" id="user-info">
      </div>
    </nav>
    <section class="scroll_y_auto">
      <div>
        <img src="/lootopia.webp" width="170" height="170" alt="LOOTOPIA" />
      </div>
      <h1>Liste des chasses créées par toi</h1>
      <table>
        <thead>
          <tr><th>Nom :</th><th>Monde :</th><th>Statut :</th></tr>
        </thead>
        <tbody id="chasses">
        </tbody>
      </table>
      <button class="bigbutton" onclick="location.href = '/chasse/create'">Nouvelle chasse</button>
    </section>
    <footer>
      <div class="nav-right">
        <ul class="nav-list">
          <li>© 2025 Ashley RAKOTOARISOA<br />Projet réalisé dans le cadre de Sup de Vinci</li>
        </ul>
    </div>
  </footer>
  <script type="module">
      import Cookie from 'https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.mjs'
      const username = Cookie.get('username')
      let userInfo = document.getElementById('user-info')

    if(username){
        userInfo.innerHTML = "<img src='/account.webp' class='pointer' alt='Profil' width='30' height='30' /><span>"+username+"</span><button onclick='deconnecter()' class='buttond'>Déconnexion</button>"
      } else {
        location.href = "/"
      }

      window.deconnecter = function() {
        var con = confirm("Are you sure ?")
        if (con){
          Cookie.remove("username")
          location.reload()
        }
      }
      const tabr = document.getElementById("chasses")
      window.accesInfo = function(id){
        cliquer(id)
        location.href = "/player/"+id
      }
      async function cliquer(id){
        const response = await fetch("http://127.0.0.1:3334/chasse/"+id+"/click", {
            method: "PUT"
          });
      }

      async function chargerChasses() {
        try {
          const response = await fetch('http://127.0.0.1:3334/data/postgresql/chasse')
          const chasses = await response.json()

          if (!Array.isArray(chasses)) throw new Error("Réponse inattendue")

          // Génération dynamique des lignes
          chasses.forEach(c => {
            if (c.organisateur.login == username){
              const tr = document.createElement('tr')

              tr.innerHTML = "<tr><td>"+c.titre+"</td><td>"+c.monde+"</td><td>"+c.statut+"</td><td><button class='littlebutton' onclick='accesInfo("+c.id+")'>Plus d'infos</button></td></tr>"

              tabr.appendChild(tr)
            }
          })
        } catch (err) {
          console.error("Erreur lors du chargement des récompenses :", err)
          tabr.innerHTML = "<tr><td colspan='3'>Erreur de chargement des récompenses.</td></tr>"
        }
      }
      chargerChasses()
    </script>
</body>
</html>