<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>LOOTOPIA - Signup</title>
  {{ style('style') }}
</head>
<body>
  <nav>
    <div class="nav-left">
          <ul class="nav-list">
            <li class="pointer" onclick="location.href = '/player'">Joueur</li>
            <li class="pointer" onclick="location.href = '/organisator'">Organisateur</li>
            <li class="pointer" onclick="location.href = '/recompenses'">Récompenses disponibles</li>
            <li class="pointer" onclick="location.href = '/marketplace'">Marketplace</li>
            <li class="pointer" onclick="location.href = '/shop'">Boutique</li>
          </ul>
        </div>
        <div class="nav-right" id="user-info">
      </div>
    </div>
  </nav>

  <section class="scroll_y_auto">
    <img src="/lootopia.webp" width="170" height="170" alt="LOOTOPIA" />
    <h1>Chasse n°{{id}}</h1>
    <table>
        <tbody>
            <tr><th>Nom :</th><td id="nom"></td></tr>
            <tr><th>Description :</th><td id="description"></td></tr>
            <tr><th>Organisateur :</th><td id="organisateur"></td></tr>
            <tr><th>Monde :</th><td id="monde"></td></tr>
            <tr><th>Date de fin de la chasse :</th><td id="fin"></td></tr>
            <tr><th>Places restantes :</th><td id="places"></td></tr>
            <tr><th>Montant :</th><td id="montant"></td></tr>
            <tr><th>Statut :</th><td id="statut"></td></tr>
            <tr><th>Nombre de participants inscrits :</th><td id="participants"></td></tr>
            <tr><td id="bj"></td><td><button class="bigbutton" onclick="location.href = '/player'">Retour</button></td></tr>
        </tbody>
    </table>
  </section>

  <footer>
    <div class="nav-right">
      <ul class="nav-list">
        <li>© 2025 Ashley RAKOTOARISOA<br />Projet réalisé dans le cadre de Sup de Vinci</li>
      </ul>
    </div>
  </footer>
  <script>
    const id = {{ id }};
    </script>
    <script type="module">
        import Cookie from 'https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.mjs'
      const username = Cookie.get('username')
      let userInfo = document.getElementById('user-info')

    if(username){
        userInfo.innerHTML = "<img src='/account.webp' class='pointer' alt='Profil' width='30' height='30' /><span>"+username+"</span><button onclick='deconnecter()' class='buttond'>Déconnexion</button>"
      } else {
        userInfo.innerHTML = "<img src='/account.webp' class='pointer' onclick='location.href = "+'"/login"'+"' alt='Profil' width='30' height='30'/><span>Se connecter</span>"
      }
      chargement()

       window.deconnecter = function() {
        var con = confirm("Are you sure ?")
        if (con){
          Cookie.remove("username")
          location.href = "/"
        }
      }

      async function chargement(){
        const resNb = await fetch("http://127.0.0.1:3334/chasse/"+id+"/nbreparticipants")
        const nb = await resNb.json()
        console.log(nb)
        document.getElementById("participants").innerHTML = nb.nombre
      }
      /*document.getElementById("valid").addEventListener("click", async (e) => {
            e.preventDefault();
            
      })*/
    </script>
</body>
</html>
