<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>LOOTOPIA - Signup</title>
  {{ style('style') }}
</head>
<body>
  <nav>
    <div class="nav-left">
          <ul class="nav-list">
            <li class="pointer" onclick="location.href = '/home'">Accueil</li>
            <li class="pointer" onclick="location.href = '/player'">Joueur</li>
            <li class="pointer" onclick="location.href = '/organisator'">Organisateur</li>
            <li class="pointer" onclick="location.href = '/recompenses'">Récompenses disponibles</li>
            <li class="pointer" onclick="location.href = '/marketplace'">Marketplace</li>
            <li class="pointer" onclick="location.href = '/shop'">Boutique</li>
          </ul>
        </div>
        <div class="nav-right" id="user-info">
      </div>
    </div>
  </nav>

  <section id="temp" class="scroll_y_auto">
    <div class="float_div width_1_sur_2 no_display float_right scroll_y_auto_0" id="info_account">
      <table>
        <tbody>
          <tr><th colspan="2">Informations</th></tr>
         <tr><th>Nickname :</th><td id='nickname'></td></tr>
          <tr><th>Login :</th><td id='login'></td></tr>
          <tr><th>Password :</th><td id='password'></td></tr>
          <tr><th>Telephone Number :</th><td id='tel'></td></tr>
          <tr>
            <td><button class="littlebutton" onclick="location.href = 'account/modify'">Modifier</button></td>
            <td><button class="littlebutton" onclick="fermer('info_account')">Fermer</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="float_div width_1_sur_2 no_display float_right scroll_y_auto_0" id="confirm_deconnect">
      <table>
        <tbody>
          <tr><td colspan="2">Veux-tu vraiment te déconnecter ?</td></tr>
          <tr>
            <td><button class="littlebutton" onclick="deconnecter()">Oui</button></td>
            <td><button class="littlebutton" onclick="fermer('confirm_deconnect')">Non</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="ban" class="relative">
    </div>
    <div id="logo">
    </div>
    <table>
        <tbody>
            <tr><th>Nom :</th><td id="nom"></td></tr>
            <tr><th>Description :</th><td id="description"></td></tr>
            <tr><th>Organisateur :</th><td id="organisateur"></td></tr>
            <tr><th>Monde :</th><td id="monde"></td></tr>
            <tr><th>Date de fin de la chasse :</th><td id="fin"></td></tr>
            <tr><th>Places restantes :</th><td id="places"></td></tr>
            <tr><th>Montant :</th><td id="montant"></td></tr>
            <tr><th>Statut :</th><td id="statut"></td></tr>
            <tr><th>Nombre de participants inscrits :</th><td id="participants"></td></tr>
            <tr><th>Nombre de vues :</th><td id="vues"></td></tr>
        </tbody>
    </table>
    <div id="map"></div>
    <div id="bj"></div>
    <button class="bigbutton" onclick="location.href = '/player'">Retour</button>
  </section>

  <footer>
    <div class="nav-right">
      <ul class="nav-list">
        <li>© 2025 Ashley RAKOTOARISOA<br />Projet réalisé dans le cadre de Sup de Vinci</li>
      </ul>
    </div>
  </footer>
  <script src="https://js.stripe.com/v3/"></script>
  <script>
    const id = {{ id }};
    </script>
    <script type="module">
        import Cookie from 'https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.mjs'
      

      const username = Cookie.get('username')
      let userInfo = document.getElementById('user-info')
      var divs = ["confirm_deconnect","info_account"]

    if(username){
        userInfo.innerHTML = "<img src='/account.webp' onclick='ouvrir("+'"info_account"'+")' class='pointer' alt='Profil' width='30' height='30' /><span>"+username+'</span><button onclick="ouvrir('+"'confirm_deconnect'"+')" class="buttond">Déconnexion</button>'
      } else {
        userInfo.innerHTML = "<img src='/account.webp' class='pointer' onclick='location.href = "+'"/login"'+"' alt='Profil' width='30' height='30'/><span>Se connecter</span>"
      }
      chargement()
      initMap()

       window.deconnecter = function() {
          Cookie.remove("username")
          location.href = "/"
      }
      window.ouvrir = async function(div){
        document.getElementById(div).style.display = "block"
        document.getElementById(div).scrollTop = 0
        for (let i = 0 ; i < divs.length ; i++){
          if (divs[i] != div){
            fermer(divs[i])
          }
          if (div == "info_account"){
            const resp = await fetch("http://127.0.0.1:3334/data/postgresql/compte")
            const resu = await resp.json()
            const inu = resu.findIndex(obj => obj.login == username)
            document.getElementById("nickname").innerHTML = resu[inu].nickname
            document.getElementById("login").innerHTML = resu[inu].login
            document.getElementById("tel").innerHTML = resu[inu].tel
            let p = ""
            for (let i = 0 ; i < resu[inu].password.length ; i++){
              p += "*"
            }
            document.getElementById("password").innerHTML = p
          }
        }
      }

       window.fermer = function(div) {
          document.getElementById(div).style.display = "none"
      }
      async function augmenterVues(){
        const response = await fetch("http://127.0.0.1:3334/chasse/"+id+"/vues", {
            method: "PUT"
          });
      }

      async function getLatitude(){
        const resp = await fetch("http://127.0.0.1:3334/data/postgresql/chasse")
        const resu = await resp.json()
        const index = resu.findIndex(obj => obj.id == id)
        return resu[index].latitude
      }

      async function getLongitude(){
        const resp = await fetch("http://127.0.0.1:3334/data/postgresql/chasse")
        const resu = await resp.json()
        const index = resu.findIndex(obj => obj.id == id)
        return resu[index].longitude
      }

      async function initMap() {
        let p = await chasse()
        console.log(p)

        const location = { lat: p.latitude, lng: p.longitude }
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 13,
          center: location,
        })

        new google.maps.Marker({
          position: location,
          map: map,
        })
      }


      async function chasse(){
        const response = await fetch("http://127.0.0.1:3334/data/postgresql/chasse")
        const rj = await response.json()
        const index = rj.findIndex(obj => obj.id == id)
        return rj[index]
      }

      async function chargement(){
        augmenterVues()
        const resNb = await fetch("http://127.0.0.1:3334/chasse/"+id+"/nbreparticipants")
        const nb = await resNb.json()
        document.getElementById("participants").innerHTML = nb.nombre
        const response = await fetch("http://127.0.0.1:3334/data/postgresql/chasse")
        const rj = await response.json()
        const index = rj.findIndex(obj => obj.id == id)
        const resc = await fetch("http://127.0.0.1:3334/data/postgresql/compte")
        const rc = await resc.json()
        const indexc = rc.findIndex(obj => obj.id == rj[index].organisateur.id)
        const indexu = rc.findIndex(obj => obj.login == username)
        if (rj[index].url_banniere != "" && rj[index].url_banniere != null){
          const sect = document.getElementById("temp");
          sect.style.backgroundImage = "url(" + rj[index].url_banniere + ")";
          sect.style.backgroundSize = "auto 1000px";
          sect.style.backgroundRepeat = "no-repeat";
          sect.style.backgroundPosition = "left center"; // ou autre selon ton besoin
        }
        if (rj[index].brand != "" && rj[index].brand != null){
          document.getElementById("logo").innerHTML = "<img src='/partenaires/"+rj[index].brand+".webp' height='170' style:'width:auto;' alt='"+rj[index].brand+"' />"
        } else {
          document.getElementById("logo").innerHTML = "<img src='/lootopia.webp' width='170' height='170' alt='Lootopia' />"
        }
        document.getElementById("logo").innerHTML += '<h1>Chasse n°'+id+'</h1>'
        document.getElementById("nom").innerHTML = rj[index].titre
        document.getElementById("description").innerHTML = rj[index].description
        document.getElementById("organisateur").innerHTML = rj[index].organisateur.nickname
        document.getElementById("monde").innerHTML = rj[index].monde
        document.getElementById("fin").innerHTML = rj[index].datefin
        document.getElementById("montant").innerHTML = rj[index].montant
        document.getElementById("places").innerHTML = rj[index].nbreparticipantsmax - nb.nombre
        document.getElementById("statut").innerHTML = rj[index].statut
        document.getElementById("vues").innerHTML = rj[index].nbvues
        const response1 = await fetch("http://127.0.0.1:3334/data/postgresql/compte")
        const result1 = await response1.json()
        const index1 = result1.findIndex(obj => obj.login == username)
        const response0 = await fetch("http://127.0.0.1:3334/data/postgresql/participation")
        const result0 = await response0.json()
        const index0 = result0.findIndex(obj => obj.chasse.id == id && obj.joueur.id == result1[index1].id)
        if (rj[index].statut == "Actif"){
          if (index0 == -1 && rj[index].nbreparticipantsmax - nb.nombre != 0 && indexc != indexu){
            if (rj[index].montant < 0.5){
              document.getElementById("bj").innerHTML = "<button id='inscription' class='bigbutton'>S'inscrire</button>"
              document.getElementById("inscription").addEventListener("click", async () => {
                var conf = confirm("Es-tu sûr de vouloir t'inscrire à cette chasse ?")
                if (conf) {
                  console.log("inscription")
                  const response2 = await fetch("http://127.0.0.1:3334/inscription/"+result1[index1].id+"/"+id);
                  const result2 = await response2.json();
                  if (result2.success) {
                    alert("Inscription réussie !");
                    location.reload();
                  } else {
                    alert("Erreur lors de l'inscription : " + result2.message);
                  }
                }
              })
            } else {
              document.getElementById("bj").innerHTML = "<br /><br /><div id='card-element' cl style='margin-bottom: 10px;'></div><div id='card-errors' class='red' style='margin-bottom: 10px;'></div><button id='payer' class='bigbutton'>Payer</button>"
              
          const stripe = Stripe('pk_test_51RbljMGKnjvSr5TJYgsFywCZ3vGQhXHMXEKBdHfyuqUlde4UwN30c64XJ0B8opgNKotlhqYideBL27jMe9Tx5DJU00ELFT02BL'); // clé publique
      const elements = stripe.elements();
      const cardElement = elements.create("card");
              cardElement.mount("#card-element");
              cardElement.on("change", (event) => {
                const errorDiv = document.getElementById("card-errors");
                if (event.error) {
                  errorDiv.textContent = event.error.message;
                } else {
                  errorDiv.textContent = "";
                }
              });
              document.getElementById("payer").addEventListener("click", async () => {
                const confirmMsg = "Es-tu sûr de vouloir valider le paiement de "+rj[index].montant+" € pour t'inscrire ?";
                if (!confirm(confirmMsg)) return;

                try {
                  const paymentIntentRes = await fetch('http://127.0.0.1:3334/create-payment-intent', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ amount: rj[index].montant * 100, currency: 'eur' })
                  });

                  const { clientSecret } = await paymentIntentRes.json();
                  console.log("🎯 clientSecret reçu :", clientSecret);


                  const result = await stripe.confirmCardPayment(clientSecret, {
                    payment_method: {
                      card: cardElement,
                      billing_details: { name: username }
                    }
                  });

                  if (result.error) {
                    alert("Erreur : " + result.error.message);
                  } else if (result.paymentIntent.status === 'succeeded') {
                    const responsepayi = await fetch("http://127.0.0.1:3334/inscription/"+result1[index1].id+"/"+id);
                    const resultp = await responsepayi.json();
                    alert("✅ Paiement réussi ! Tu es donc bien inscrit à la chasse !");
                    location.reload();
                  }
                }catch (error){
                  alert(error)
                }
              })
            }
          } else {
            if (index0 != -1){
              document.getElementById("bj").innerHTML = "<button class='bigbutton'>Jouer</button>"
            }
            if (indexc == indexu){
              document.getElementById("bj").innerHTML += "<button class='bigbutton'>Initialiser</button><button class='bigbutton'>Modifier la chasse</button>"
            }
          } 
        }
      }

    </script>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key={{ googleMapsApiKey }}&callback=initMap"
    ></script>
</body>
</html>
