<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>LOOTOPIA - Home</title>
  {{ style('style') }}
</head>
<body>
    <nav>
        <div class="nav-left">
          <ul class="nav-list">
            <li>Joueur</li>
            <li>Organisateur</li>
            <li>Récompenses disponibles</li>
          </ul>
        </div>
        <div id="user-info" class="nav-right">
          
      </div>
    </nav>
    <div>
        <img src="/lootopia.webp" width="170" height="170" alt="LOOTOPIA" />
    </div>
    <div class="no_display" id="confirm_deconnect"></div>
    <h1>Liste des récompenses disponibles</h1>
    <table>
        <thead>
            <tr>
                <th>Image</th><th>Nom</th><th>Type</th>
            </tr>
        </thead>
        <tbody id="tabr">
        
        </tbody>
    </table>
    <footer>
      <div class="nav-right">
        <ul class="nav-list">
          <li>© 2025 Ashley RAKOTOARISOA<br />Projet réalisé dans le cadre de Sup de Vinci</li>
        </ul>
    </div>
  </footer>
    <script type="module">
      import Cookie from 'https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.mjs'
      const username = Cookie.get('username')
      let userInfo = document.getElementById('user-info')

      console.log(username)

      if(username){
        userInfo.innerHTML = "<img src='/account.webp' class='pointer' alt='Profil' width='30' height='30' /><span>"+username+"</span><button onclick='deconnecter()'>Déconnexion</button>"
      } else {
        userInfo.innerHTML = "<img src='/account.webp' class='pointer' onclick='location.href = "+'"/login"'+"' alt='Profil' width='30' height='30'/><span>Se connecter</span>"
      }


      window.deconnecter = function() {
        var con = confirm("Are you sure ?")
        if (con){
          Cookie.remove("username")
          location.reload()
        }
      }

        // 👉 FETCH des récompenses
  const tabr = document.getElementById('tabr')

  async function chargerRecompenses() {
    try {
      const response = await fetch('http://127.0.0.1:3334/data/mongodb/recompense')
      const recompenses = await response.json()

      if (!Array.isArray(recompenses)) throw new Error("Réponse inattendue")

      // Génération dynamique des lignes
      recompenses.forEach(recomp => {
        const tr = document.createElement('tr')

        tr.innerHTML = "<td><img src='/recompense/"+recomp.type+"/"+recomp.nom+".webp' alt='"+recomp.nom+"' width='60' height='60'/></td><td>"+recomp.nom+"</td><td>"+recomp.type+"</td>";

        tabr.appendChild(tr)
      })
    } catch (err) {
      console.error("Erreur lors du chargement des récompenses :", err)
      tabr.innerHTML = "<tr><td colspan='3'>Erreur de chargement des récompenses.</td></tr>"
    }
  }

  chargerRecompenses()

    </script>
</body>
</html>
