<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>LOOTOPIA - Inscription réussie</title>
  {{ style('style') }}
</head>
<body>
    <nav>
        <div class="nav-left">
          <ul class="nav-list">
            <li class="pointer" onclick="location.href = '/'">Accueil</li>
            <li class="pointer" onclick="location.href = '/player'">Joueur</li>
            <li class="pointer" onclick="location.href = '/organisator'">Organisateur</li>
            <li class="pointer" onclick="location.href = '/recompenses'">Récompenses disponibles</li>
            <li class="pointer" onclick="location.href = '/marketplace'">Marketplace</li>
            <li class="pointer" onclick="location.href = '/shop'">Boutique</li>
          </ul>
        </div>
      </nav>
    <section class="scroll_y_auto">
        <img src="/lootopia.webp" width="170" height="170" alt="LOOTOPIA" />
        <h1>Signup : </h1>
        <table>
            <tbody>
                <tr><td colspan="2">Mail de confirmation envoyé. L'as-tu bien reçu ?</td></tr>
                <tr><td><button class="bigbutton" id="renvoi">Non, renvoie moi ce mail</button></td><td><button class="bigbutton" onclick="location.href = '/home'">J'ai bien reçu le mail de confirmation</button></td></tr>
            </tbody>
        </table>
  </section>
    <footer>
      <div class="nav-right">
        <ul class="nav-list">
          <li>© 2025 Ashley RAKOTOARISOA<br />Projet réalisé dans le cadre de Sup de Vinci</li>
        </ul>
    </div>
  </footer>
    <script type="module">
      import Cookie from 'https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.mjs'
       document.getElementById("renvoi").addEventListener("click", async (e) => {
            e.preventDefault();
            try {
              const from = "no-reply@lootopia.com"
                  const subject = "Mail de confirmation";
                  const to = "{{mel}}";
                  let password = "{{mdp}}";
                  let text = "Salut,<br /><br /> Nous te confirmons que tu t'es bien inscrit à Lootopia !<br /><br /> Mot de passe : ";

                  text += password+" <br /><br />Passe de bons moments.<br /><br />Lootopia";
            const response2 = await fetch("http://localhost:3334/send-email", {
                      method: "POST",
                      headers: {
                        "Content-Type": "application/json"
                      },
                      body: JSON.stringify({ from,to,subject,text})
                    });
                    alert("Mail renvoyé avec succès")
                  }catch(error){
                    alert("Echec de renvoi de mail")
                  }
        })
    </script>
</body>
</html>
