<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>LOOTOPIA - Signup</title>
  {{ style('style') }}
</head>
<body>
    <nav>
        <div class="nav-left">
          <ul class="nav-list">
            <li>Joueur</li>
            <li>Organisateur</li>
          </ul>
        </div>
      </nav>
    <section class="scroll_y_auto">
        <img src="/lootopia.webp" width="170" height="170" alt="LOOTOPIA" />
        <h1>Signup : </h1>
        <table>
            <tbody>
                <tr><th>Login* :</th><td><input type="text" placeholder="Login" id="logini" /></td></tr>
                <tr><th>Login (to reconfirm)* :</th><td><input type="text" placeholder="Login" id="loginf" /></td></tr>
                <tr><th>Email* :</th><td><input type="text" placeholder="Email" id="meli" /></td></tr>
                <tr><th>Email (to reconfirm)* :</th><td><input type="text" placeholder="Email (to reconfirm)" id="melf" /></td></tr>
                <tr><th>Password* :</th><td><input type="password" placeholder="Password" id="pwdi"/><button onclick="showPwd('pwdi')">Display password</button></td></tr>
                <tr><th>Password (to reconfirm)* :</th><td><input type="password" placeholder="Password" id="pwdf"/><button onclick="showPwd('pwdf')">Display password</button></td></tr>
                <tr><th>Telephone Number :</th><td><input type="text" placeholder="Telephone Number" id="telt" /></td></tr>
                <tr><td colspan="2" class="no_display rouge" id="empty">Tous les champs sont obligatoires</td></tr>
                <tr><td colspan="2" class="no_display rouge" id="diffl">Les logins sont différents</td></tr>
                <tr><td colspan="2" class="no_display rouge" id="diffe">Les emails sont différents</td></tr>
                <tr><td colspan="2" class="no_display rouge" id="incorrecte">L'email ne respecte pas la norme classique</td></tr>
                <tr><td colspan="2" class="no_display rouge" id="diffp">Les mots de passes sont différents</td></tr>
                <tr><td colspan="2" class="no_display rouge" id="incorrectp">Une erreur s'est produite.</td></tr>
                <tr><td colspan="2" class="no_display rouge" id="incorrectp">Le mot de passe doit comporter 8 caractères</td></tr>
                <tr><td><button class="bigbutton" id="sign">Signup</button></td><td><button class="bigbutton" onclick="location.href = '/login'">Return</button></td></tr>
            </tbody>
        </table>
  </section>
    <footer>
      <div class="nav-right">
        <ul class="nav-list">
          <li>© 2025 Ashley RAKOTOARISOA<br />Projet réalisé dans le cadre de Sup de Vinci</li>
        </ul>
    </div>
  </footer>
    <script>
        function showPwd(id) {
            const mdp = document.getElementById(id);
            mdp.type = mdp.type == "password" ? "text" : "password";
        }

        function checkRE(regex, str){
          return regex.test(str)
        }

        function verif(){
            const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z\d]).{8,}$/;
        }

       document.getElementById("sign").addEventListener("click", async (e) => {
            e.preventDefault();
            document.getElementById("empty").style.display = "none"
            document.getElementById("diffl").style.display = "none"
            document.getElementById("diffe").style.display = "none"
            document.getElementById("diffp").style.display = "none"
            document.getElementById("incorrecte").style.display = "none"
            document.getElementById("incorrectp").style.display = "none"
            document.getElementById("erreur").style.display = "none"

            if (document.getElementById("logini").value == "" || document.getElementById("loginf").value == "" ||document.getElementById("meli").value == "" || document.getElementById("melf").value == "" || document.getElementById("pwdi").value == "" || document.getElementById("pwdf").value == ""){
              document.getElementById("empty").style.display = "table-cell"
            } else if (document.getElementById("logini").value != document.getElementById("loginf").value ){
              document.getElementById("diffl").style.display = "table-cell"
            } else if (document.getElementById("meli").value != document.getElementById("melf").value) {
              document.getElementById("diffe").style.display = "table-cell"
            } else if (!checkRE(/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/,document.getElementById("meli").value)){
              document.getElementById("incorrecte").style.display = "table-cell"
            } else if (document.getElementById("pwdi").value != document.getElementById("pwdf").value){
              document.getElementById("diffp").style.display = "table-cell"
            } else {
              try {
                const nickname = document.getElementById("loginl").value;
                const login = document.getElementById("meli").value;
                const password = document.getElementById("pwdi").value;
                const tel = document.getElementById("telt").value;

                const response = await fetch("http://127.0.0.1:3334/signup", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json"
                  },
                  body: JSON.stringify({ nickname,login, password , tel})
                });

                const result = await response.json();

                if (result.success) {
                  
                  location.href = "/signup/success";
                } else {
                  document.getElementById("incorrect").style.display = "table-cell";
                  document.getElementById("incorrect").textContent = "Les identifiants ne correspondent pas.";
                }
              } catch (e){
                console.log(e)
                document.getElementById("erreur").style.display = "table-cell"
              }
            }
        })
    </script>
</body>
</html>
