<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>LOOTOPIA - Welcome</title>
  {{ style('style') }}
</head>
<body>
  <nav>
    <div class="nav-left">
      <ul class="nav-list">
        <li class="pointer" onclick="location.href = '/home'">Accueil</li>
       <li class="pointer" onclick="location.href = '/player'">Joueur</li>
            <li class="pointer" onclick="location.href = '/organisator'">Organisateur</li>
            <li class="pointer" onclick="location.href = '/recompenses'">Récompenses disponibles</li>
            <li class="pointer" onclick="location.href = '/marketplace'">Marketplace</li>
            <li class="pointer" onclick="location.href = '/shop'">Boutique</li>
      </ul>
    </div>
    <div class="nav-right" id="user-info">
  </div>
  </nav>
  <div class="scroll_y_auto">
    <img src="/lootopia.webp" width="170" height="170" alt="LOOTOPIA" /><br />
    This platform is dedicated to the participation and organization of treasure hunts. It will be based on the use of virtual and semi-virtual caches, enhanced by Augmented Reality (AR) technologies accessible via smartphones and tablets.<br/>
    The treasure hunt will be designed as a multifunctional tool: a fun medium for participants, but also a powerful communication and marketing vehicle for organizers wishing to promote their initiatives or brand.<br />
    <button class="bigbutton">Game modes</button><br />
    <button class="bigbutton" onclick='location.href = "/player"'>Available flushes</button> <br />
    @if(!username)
      <button class="bigbutton" onclick="location.href = '/login'">Log in</button>
    @endif
    <section class="scroll_y_auto">
      <div class="float_div width_1_sur_2 no_display float_right scroll_y_auto_0" id="confirm_deconnect">
      <table>
        <tbody>
          <tr><td colspan="2">Veux-tu vraiment te déconnecter ?</td></tr>
          <tr>
            <td><button class="littlebutton" onclick="deconnecter()">Oui</button></td>
            <td><button class="littlebutton" onclick="fermer('confirm_deconnect')">Non</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    </section>
</div>
  <footer>
    <div class="nav-right">
      <ul class="nav-list">
        <li>© 2025 Ashley RAKOTOARISOA<br />Projet réalisé dans le cadre de Sup de Vinci</li>
      </ul>
  </div>
</footer>
<script type="module">
  import Cookie from 'https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.mjs'
      const username = Cookie.get('username')
      let userInfo = document.getElementById('user-info')
      var divs = ["confirm_deconnecter"]

      if(username){
        userInfo.innerHTML = "<img src='/account.webp' onclick='ouvrir("+'"info_account"'+")' class='pointer' alt='Profil' width='30' height='30' /><span>"+username+'</span><button onclick="ouvrir('+"'confirm_deconnect'"+')" class="buttond">Déconnexion</button>'
      } else {
        userInfo.innerHTML = "<img src='/account.webp' class='pointer' onclick='location.href = "+'"/login"'+"' alt='Profil' width='30' height='30'/><span>Se connecter</span>"
      }

      window.ouvrir = function(div){
        document.getElementById(div).style.display = "block"
        document.getElementById(div).scrollTop = 0
        for (let i = 0 ; i < divs.length ; i++){
          if (divs[i] != div){
            fermer(divs[i])
          }
        }
      }

       window.fermer = function(div) {
          document.getElementById(div).style.display = "none"
      }
       window.deconnecter = function() {
          Cookie.remove("username")
          location.reload()
      }
  </script>
</body>
</html>
