* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.rouge{
  color: red;
}

.no_display {
  display: none
}
body {
    font-family: 'Nunito', sans-serif;
    color: white;
    background-color: #222222;
    padding-top: 80px;
  }

  table tbody tr th, table tbody tr td{
    text-align: left;
    font-size: 30px;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .pointer {
    cursor: pointer;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .bigbutton{
    padding: 15px;
    background-color: blueviolet;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    width:25rem;
  }

  .nav-list {
    list-style: none;        /* Enlève les points */
    display: flex;           /* Met les <li> en ligne */
    gap: 1rem;               /* Espacement entre les éléments */
    padding: 0;
    margin: 0;
  }
  
  h1{
    font-size: 44px;
  }

  .nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
  }

.scroll_y_auto {
  height: calc(100vh - 160px); /* Hauteur totale - nav - footer */
  overflow-y: auto;
  padding: 2rem;
  box-sizing: border-box;
}


  .scroll_auto{
    overflow: scroll;
  }